@font-face {
    font-family: Calculator;
    src: url(Calculator.ttf);
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    height: 95vh;
    gap: 24px;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 430px;
    border-radius: 5px;
    border: solid 2px;
    background-color:slategrey;
    justify-content: space-between;
}

.visor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(69, 105, 102);
    height: 60px;
    width: inherit;
    border: solid 2px;
    border-radius: 5px;
}

.visorNumbers {
    background-color: rgb(69, 105, 102);
    border: transparent;
    padding: 0px 10px;
    font-size: 48px;
    font-family: Calculator;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
}

.buttoncontainer {
    display: flex;
    justify-content: space-between;
    width: inherit;
    padding: 5px 0px;
}

button {
    width: 70px;
    height: 58px;
    border: 2px solid;
    border-radius: 5px;
    font-size: large;
}

.function {
    background-color:peru;
}

.function:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
  }

#equals {
    width: 147px;
    border-radius: 5px;
}

footer {
    font-size: 20px;
}